Pascal/app1.exe
Pascal/app1.o
Pascal/app1
Pascal/app1_utils.o
Pascal/app1_utils.ppu
Pascal/maths.o
Pascal/maths.ppu
Pascal/lang_en.ppu
Pascal/lang_vi.ppu
C#/app1cli/bin/Debug/net6.0/app1.exe
C#/app1cli/bin/Debug/net6.0/app1.deps.json
C#/app1cli/bin/Debug/net6.0/app1.runtimeconfig.json
C#/app1cli/bin/Debug/net6.0/app1.dll
C#/app1cli/bin/Debug/net6.0/ref/app1.dll
C#/app1cli/bin/Debug/net6.0/app1.pdb
C#/app1cli/obj/Debug/net6.0/app1.csproj.AssemblyReference.cache  
C#/app1cli/obj/Debug/net6.0/app1.GeneratedMSBuildEditorConfig.editorconfig
C#/app1cli/obj/Debug/net6.0/app1.AssemblyInfoInputs.cache
C#/app1cli/obj/Debug/net6.0/app1.AssemblyInfo.cs
C#/app1cli/obj/Debug/net6.0/app1.csproj.CoreCompileInputs.cache    
C#/app1cli/obj/Debug/net6.0/app1.dll
C#/app1cli/obj/Debug/net6.0/ref/app1.dll
C#/app1cli/obj/Debug/net6.0/app1.pdb
C#/app1cli/obj/Debug/net6.0/app1.genruntimeconfig.cache
C#/utilsLib/bin/Debug/net6.0/utilsLib.deps.json
C#/utilsLib/bin/Debug/net6.0/utilsLib.dll
C#/utilsLib/bin/Debug/net6.0/ref/utilsLib.dll
C#/utilsLib/bin/Debug/net6.0/utilsLib.pdb
C#/utilsLib/obj/Debug/net6.0/utilsLib.csproj.AssemblyReference.cache
C#/utilsLib/obj/Debug/net6.0/utilsLib.GeneratedMSBuildEditorConfig.editorconfig
C#/utilsLib/obj/Debug/net6.0/utilsLib.AssemblyInfoInputs.cache  
C#/utilsLib/obj/Debug/net6.0/utilsLib.AssemblyInfo.cs
C#/utilsLib/obj/Debug/net6.0/utilsLib.csproj.CoreCompileInputs.cache
C#/utilsLib/obj/Debug/net6.0/utilsLib.dll
C#/utilsLib/obj/Debug/net6.0/ref/utilsLib.dll
C#/utilsLib/obj/Debug/net6.0/utilsLib.pdb
./app1cli*.deb
Pascal/test.pas
Pascal/test
Pascal/test.o
