Package: app1cli
Version: 1.0.29-Alpha
Architecture: All
Maintainer: Le Bao Nguyen <bao12345yocoo@gmail.com>
Essential: no
Section: Utilities
Priority: optional
Installed-size: 148
Homepage: https://github.com/lebao3105/app1cli
Description: Do many calculations and compare with app1.
