Package: app1cli
Version: 1.0.28
Architecture: All
Maintainer: lebao3105
Section: Utilities
Priority: optional
Homepage: https://github.com/lebao3105/app1cli
Description: Do many calculations and compare with app1.
